body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #007bff;
    text-align: center;
    margin-bottom: 30px;
}

.col-md-66 {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Added margin-bottom to create spacing between boxes */
}

h2 {
    color: #343a40;
    margin: 20px 0px;
    padding: 20px 0px !important;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    color: #6c757d;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
}
